<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab7c62">  <td>18/11/17 16:14:49</td>   <td>0</td> <td title="&gt;&gt;Reporter.startResult()[pri:0, instance:project1.ZoomCar@56235b8e]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/11/17 16:14:50</td>   <td>500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZoomCar.zoomPrice()[pri:0, instance:project1.ZoomCar@56235b8e]">zoomPrice</td> 
  <td>main@1033490990</td>   <td></td> </tr>
</table>
