<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cd7a0">  <td>18/11/18 11:06:09</td>   <td>0</td> <td title="&gt;&gt;Reporter.startResult()[pri:0, instance:testCases.TC001_CreateLead@4e9ba398]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/11/18 11:06:09</td>   <td>481</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_CreateLead@4e9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/11/18 11:06:09</td>   <td>489</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.startTestCase()[pri:0, instance:testCases.TC001_CreateLead@4e9ba398]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/11/18 11:06:10</td>   <td>1152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.loginApp(java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_CreateLead@4e9ba398]">&gt;&gt;loginApp</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/11/18 11:06:49</td>   <td>40153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_CreateLead@4e9ba398]">createL</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/11/18 11:06:49</td>   <td>40169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_CreateLead@4e9ba398]">createL</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/11/18 11:06:49</td>   <td>40193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_CreateLead@4e9ba398]">createL</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/11/18 11:06:49</td>   <td>40205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_CreateLead@4e9ba398]">createL</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/11/18 11:06:49</td>   <td>40222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_CreateLead@4e9ba398]">createL</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/11/18 11:06:49</td>   <td>40240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_CreateLead@4e9ba398]">createL</td> 
  <td>main@1232306490</td>   <td></td> </tr>
</table>
